name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run test
      env:
        DEPLOY_KEY_git_github_com_nazoking_test_private1_git: ${ secrets.p1 }
        DEPLOY_KEY_git_github_com_nazoking_test_private2_git: ${ secrets.p2 }
      run: |
        set -x
        sed -i -e 's/set -e/set -ex/' git-multi-ssh.sh
        chmod +x git-multi-ssh.sh
        export GIT_SSH=$(pwd -)/git-multi-ssh.sh
        echo "private 1"
        git clone git@github.com:nazoking/test-private1.git
        echo "private 2"
        git clone git@github.com:nazoking/test-private2.git
        echo "public"
        git clone git@github.com:nazoking/git-multi-ssh.sh
